.o-article {

    a {
        color: $c-blue1;        
        
        &:hover {
            text-decoration: underline;
        }
    }

    h4 {
        font-weight: $bold;
    }

    p {
        margin-bottom: 1em;
    }
    
    ul {
        padding-top: 0;
        padding-bottom: 10px;
    }
    
    ul {
        //margin-bottom: 1em;
//        padding-left: 30px;

        li {
            @extend %rel;
            margin-bottom: .7em;
            padding-left: 35px;
            
            &:before {
                @extend %abs;
                @extend %abs-after;
                left: 0; top: -5px;
                width: 26px; height: 24px;
                font: {
                    family: $icomoon;
                    size: rem(20);
                }
                color: $c-blue1;
                content: "\e900";
                
                @media screen and ( max-width: $tablet_portrait + px ) {
                    font-size: rem(18);
                }
            }
        }

        & > li {
            
            &:before {
                //content: '•';
            }
            
            ul {
                margin-bottom: 1em;
                padding-left: 30px;

                li {
                    &:before {
                        //content: '-';
                    }
                }
            }
        }
    }
}