.o-wrap {
	width: $base + 100px;
	margin: 0 auto;	
	padding: 0 50px;
	
	@media screen and ( max-width: $base + 100px ) {
	    width: 100%;
	}
	
	@media screen and ( max-width: $smartphone_portrait + px ) {
        padding: 0 30px;
	}
}
