.c-hamburger {
    @include z-index(hamburger);
    position: fixed;
    top: 40px; left: 50px;
    width: 40px; height: 31px;
    background-color: white;
    padding: 5px;
    display: none;
    
    @media screen and ( max-width: $base + px ) {
        display: block;         
    }

    &__icon {
        @extend %anim;
        @extend %rel;
        width: 30px; height: 16px;
        border-top: 4px solid $c-black1;
        cursor: pointer;
        
        &:after, &:before {
            @extend %abs;
            @extend %abs-after;
            @extend %anim;
            width: 100%; 
            height: 4px;
            background-color: $c-black1;
        }
        
        &:after {
            transform-origin: right;
            top: 100%;
        }
        
        &:before {
            transform-origin: left;
            top: calc(50% - 2px);
        }
        
        &.is-active {
            border-color: transparent !important;
    
            &:after {
                transform: rotate(45deg) translate(-2px, 2px);
            }
            
            &:before {
                transform: rotate(-45deg) translate(-2px, 10px);            
            }
        }
    }

    @media screen and ( max-width: $smartphone_portrait + px ) {
        left: 30px; top: 30px;
    }

   
    
    
}

