<% include ./src/includes/head %>
    
    <div class="o-container u-apla u-apla--pink">
    
        <div class="c-top">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <nav class="c-nav js-nav">
                            <ul id="navContent">
                                <li>
                                    <a href="index.html">Start</a>
                                </li>
                                
                                <li>
                                    <a href="informacje.html">Informacje</a>
                                </li>
                                
                                <li class="is-active">
                                    <a href="do-pobrania.html">Do pobrania</a>
                                </li>
                                
                                <li>
                                    <a href="zwyciezcy.html">Zwycięzcy</a>
                                </li>
                                
                                <li>
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="c-hamburger">
                            <div class="c-hamburger__icon js-hamburger"></div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>

            </div>
        </div>


        <div class="c-download">
            <div class="o-wrap">
                <div class="o-cols">
                    
                    <div class="o-cols__item">
                        <div class="o-content">
                            <article class="o-article">

<ul>
    <li>Wypełnij kartę zgłoszenia wraz z wymaganymi oświadczeniami do dnia 28 maja 2019 roku do godziny 24:00. <a href="#">WYPEŁNIJ ZGŁOSZENIE</a>.</li>
    <li>Prześlij drogą mailową na adres: <a href="mailto:mizdebska@oditk.pl">mizdebska@oditk.pl</a> <strong>do dnia 28 maja 2019 roku</strong>.</li>
    <li>opis inicjatywy na formularzu. <a href="#">POBIERZ FORMUARZ</a></li>
    <li>dokumentację zrealizowanej inicjatywy w formie:
        
        <ul>
            <li>w przypadku akcji “w realu”: filmu (maksymalnie 5 min.) i/lub grafiki/fotorelacji wraz z krótkim opisem zrealizowanego przedsięwzięcia na załączonym formularzu online;</li>
            
            <li>w przypadku akcji “w sieci”: wszystkie użyte w kampanii filmiki, memy, grafiki itp. wraz z krótkim opisem zrealizowanej kampanii na załączonym formularzu online;</li>
        </ul>
    </li>
</ul>

                            </article>
                        </div>                        
                    </div>
                        
                        
                    <div class="o-cols__item u-photo">
                        <div class="o-photo js-photo">
                            <img src=<%= require("./img/do-pobrania.png") %> alt="" width="550" height="570">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
        
</body>
</html>