<% include ./src/includes/head %>
    
    <div class="o-container u-apla u-apla--pink">
    
        <div class="c-top">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <nav class="c-nav js-nav">
                            <ul id="navContent">
                                <li class="is-active">
                                    <a href="index.html">Start</a>
                                </li>
                                
                                <li>
                                    <a href="informacje.html">Informacje</a>
                                </li>
                                
                                <li>
                                    <a href="do-pobrania.html">Do pobrania</a>
                                </li>
                                
                                <li>
                                    <a href="zwyciezcy.html">Zwycięzcy</a>
                                </li>
                                
                                <li>
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="c-hamburger">
                            <div class="c-hamburger__icon js-hamburger"></div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>

            </div>
        </div>


        <div class="c-start">
            <div class="o-wrap">
                <div class="o-cols">
                    
                    <div class="o-cols__item">
                        <div class="o-content">
                            <div class="o-photo">
                                <img src=<%= require("./img/assets/wez-zaglosuj.svg") %> alt="Weź zagłosuj" width="502" height="260">
                            </div>
                        </div>
                        
                        <ul class="c-social">
                            <li>
                                <a href="#" class="icon-facebook"></a>
                            </li>
                            
                            <li>
                                <a href="#" class="icon-instagram"></a>
                            </li>
                            
                            <li>
                                <a href="#" class="icon-youtube"></a>
                            </li>
                        </ul>
                    </div>
                        
                        
                    <div class="o-cols__item u-photo">
                        <div class="o-photo js-photo">
                            <img src=<%= require("./img/start.png") %> alt="" width="550" height="570">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
        
</body>
</html>