<% include ./src/includes/head %>
    
    <div class="o-container u-apla u-apla--blue">
    
        <div class="c-top">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <nav class="c-nav js-nav">
                            <ul id="navContent">
                                <li>
                                    <a href="index.html">Start</a>
                                </li>
                                
                                <li class="is-active">
                                    <a href="informacje.html">Informacje</a>
                                </li>
                                
                                <li>
                                    <a href="zglos-sie.html">Zgłoś się</a>
                                </li>
                                
                                <li>
                                    <a href="zwyciezcy.html">Zwycięzcy</a>
                                </li>
                                
                                <li>
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="c-hamburger">
                            <div class="c-hamburger__icon js-hamburger"></div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>

            </div>
        </div>


        <div class="c-informations">
            <div class="o-wrap">
                <div class="o-cols">
                    
                    <div class="o-cols__item">
                        <div class="o-content">
                            <article class="o-article">

<p>Weź udział w konkursie</p>

<p>Przygotuj samodzielnie lub zespołowo akcję, która zachęci jak największą liczbę osób do głosowania w wyborach do Parlamentu Europejskiego w 2019&nbsp;r.</p>

<p>To Ty decydujesz o  formie inicjatywy zachęcającej do głosowania. Możesz przeprowadzić kampanię w mediach społecznościowych lub akcję społeczną w “realu”.</p>
                  
<p>Mieszkasz lub uczysz się na terenie <strong><a href=<%= require("./img/omggs_gminy.png") %> class="js-image">Obszaru Metropolitalnego Gdańsk-Gdynia-Sopot</a></strong>? Szczegóły konkursu <a href="#" class="js-more">tutaj</a>. Na terenie Obszaru Metropolitalnego Gdańsk-Gdynia-Sopot czyli <a href=<%= require("./img/omggs_gminy.png") %> class="js-image">gdzie</a>??</p>



<div class="js-more--content is-hidden">

<h4>Kto może wziąć udział:</h4>
 
<p>Młodzież w przedziale 14-21 lat, zamieszkująca lub ucząca się na terenie gmin Obszaru Metropolitalnego Gdańsk-Gdynia-Sopot</p>


<h4>Zasady udziału:</h4>

<p>Wypełnij kartę zgłoszenia wraz z wymaganymi oświadczeniami (link) do dnia <strong>28 maja 2019 roku</strong> do godziny 24:00. Prześlij na adres: <a href="mailto:mizdebska@oditk.pl">mizdebska@oditk.pl</a> do dnia <strong>28 maja 2019 roku</strong>:</p>

<ul>
    <li>opis inicjatywy na formularzu</li>
    
    <li>dokumentację zrealizowanej inicjatywy w formie:
        
        
        <ul>
            <li>w przypadku akcji “w realu”: filmu (maksymalnie 5 min.) i/lub grafiki/fotorelacji wraz z krótkim opisem zrealizowanego przedsięwzięcia na załączonym formularzu online;</ul>

            <li>w przypadku akcji “w sieci”: wszystkie użyte w kampanii filmiki, memy, grafiki itp. wraz z krótkim opisem zrealizowanej kampanii na załączonym formularzu online;</ul>
        </ul>
        
    </li>
</ul>




<h4>Kategorie:</h4>

<p>Inicjatywę można zgłosić do konkursu w dwóch kategoriach:</p>


<ul>
    <li>jako osoba indywidualna, w wieku 18 do 21 lat;</li>

    <li>jako zespół złożony z 2 do 5 osób w wieku 14-21 lat. <br>
        Liczy się wiek uczestnika/uczestniczki na dzień zakończenia naboru zgłoszeń, tj. 28 maja 2019 roku.
    </li>

    <li>Do konkursu zgłosić można wyłącznie inicjatywy zrealizowane samodzielnie w okresie od <strong>daty ogłoszenia konkursu do 26 maja 2019 roku</strong>. Niedopuszczalne jest odpłatne zlecenie wykonania części lub całości inicjatywy innym niż uczestnik/ uczestnicy osobom czy podmiotom.</li>
</ul>       



<h4>Nagrody:</h4>

<p>Dla każdej kategorii przewidziano inne nagrody:</p>

<ul>
    <li>W kategorii “inicjatywa przygotowana przez osobę indywidualną”
        
        <ul>
            <li>3 równorzędne nagrody w postaci dwóch 2/3-miesięcznych biletów interrail dla laureata/ laureatki oraz osoby towarzyszącej oraz stypendium na podróż w wysokości 5000,00 zł na osobę.</li>
        </ul>
    </li>
    
    <li>W kategorii “inicjatywa przygotowana przez zespół“:
        
        <ul>
            <li>6 równorzędnych nagród w postaci 2 dniowego wyjazdu całego zwycięskiego zespołu do Parlamentu Europejskiego,</li>
        </ul>
    </li>
    
    <li>Organizator przewiduje przyznanie nagrody dodatkowej bez kategorii w postaci wyjazdu do Warszawy- zwiedzanie Parlamentu RP.</li>
</ul>

<h4>Organizatorzy:</h4>

<p>Organizatorami konkursu dla Obszaru Metropolitalnego Gdańsk-Gdynia-Sopot są:</p>

<ul>
    <li>
        <a href="#">Stowarzyszenie Obszar Metropolitalny Gdańsk-Gdynia-Sopot</a>
    </li>
    
    <li>Fundacja Edukacyjna ODiTK</li>
</ul>

<p>
    <strong>Przed zrealizowaniem inicjatywy koniecznie przeczytaj <a href="#">Regulamin Konkursu</a>.</strong></p>

<p>Mieszkasz lub uczysz się w Warszawie?  Szczegóły konkursu tutaj</p>

<p>Mieszkasz lub uczysz się na terenie Białostockiego Obszaru Funkcjonalnego?  Szczegóły konkursu tutaj</p>



                            
                            </article>
                        </div>
                    </div>
                        
                        
                    <div class="o-cols__item u-photo">
                        <div class="o-photo js-photo">
                            <img src=<%= require("./img/informacje.png") %> alt="" width="550" height="670">
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
        
</body>
</html>




