<% include ./src/includes/head %>
    
    <div class="o-container u-apla u-apla--pink">
    
        <div class="c-top">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <nav class="c-nav js-nav">
                            <ul id="navContent">
                                <li>
                                    <a href="index.html">Start</a>
                                </li>
                                
                                <li>
                                    <a href="informacje.html">Informacje</a>
                                </li>
                                
                                <li>
                                    <a href="zglos-sie.html">Zgłoś się</a>
                                </li>
                                
                                <li>
                                    <a href="zwyciezcy.html">Zwycięzcy</a>
                                </li>
                                
                                <li class="is-active">
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="c-hamburger">
                            <div class="c-hamburger__icon js-hamburger"></div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>

            </div>
        </div>


        <div class="c-contact">
            <div class="o-wrap">
                <div class="o-cols">
                    
                    <div class="o-cols__item">
                        <div class="o-content">
                            <article class="o-article">
<p>                          
<strong>Fundacja Edukacyjna ODiTK</strong><br>
ul. Jana Heweliusza 11<br>
80-890 Gdańsk<br>
</p>

<p>
tel.: (58) 326-24-26<br>
e-mail: <a href="mailto:mizdebska@oditk.pl">mizdebska@oditk.pl</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:mkuligowska@oditk.pl">mkuligowska@oditk.pl</a>
</p>


<p><strong>Obszar Metropolitalny Gdańsk-Gdynia-Sopot</strong></p>

<p>
ul. Długi Targ 39/40<br>
80-830 Gdańsk<br>
tel. : (58) 526 81 40, 526 81 53<br>
e-mail: <a href="mailto:jaroslaw.maciejewski@metropoliagdansk.pl">jaroslaw.maciejewski@metropoliagdansk.pl</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:weronika.michalowska@metropoliagdansk.pl">weronika.michalowska@metropoliagdansk.pl</a>
</p>        

                            </article>
                        </div>
                        
                        <div class="c-contact__vote">
                            <img src=<%=require("./img/assets/wez-zaglosuj-2.svg") %> alt="weź zagłosuj">
                        </div>
                    </div>
                        
                        
                    <div class="o-cols__item u-photo">
                        <div class="o-photo js-photo">
                            <img src=<%= require("./img/kontakt.png") %> alt="" width="550" height="570">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
        
</body>
</html>