<% include ./src/includes/head %>
    
    <div class="o-container u-apla u-apla--blue">
    
        <div class="c-top">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <nav class="c-nav js-nav">
                            <ul id="navContent">
                                <li>
                                    <a href="index.html">Start</a>
                                </li>
                                
                                <li>
                                    <a href="informacje.html">Informacje</a>
                                </li>
                                
                                <li>
                                    <a href="do-pobrania.html">Do pobrania</a>
                                </li>
                                
                                <li class="is-active">
                                    <a href="zwyciezcy.html">Zwycięzcy</a>
                                </li>
                                
                                <li>
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="c-hamburger">
                            <div class="c-hamburger__icon js-hamburger"></div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>

            </div>
        </div>


        <div class="c-winners">
            <div class="o-wrap">
                <div class="o-cols">
                    
                    <div class="o-cols__item">
                        <div class="o-content">
                            <article class="o-article">
                            
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
labore et dolore magna aliqua. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. 
Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Eget mi proin sed libero enim sed faucibus. Volutpat odio facilisis mauris sit. Ornare arcu odio ut sem nulla pharetra diam. 
Ut faucibus pulvinar elementum integer enim. Arcu risus quis varius quam quisque id diam vel quam. Sed tempus urna et pharetra pharetra massa massa ultricies. In fermentum posuere urna nec tincidunt praesent semper feugiat. Nunc sed velit dignissim sodales ut eu. Eu ultrices vitae auctor eu augue ut lectus. Faucibus in ornare quam viverra orci sagittis.</p>

                            </article>
                        </div>
                    </div>
                        
                    <div class="o-cols__item u-photo">
                        <div class="o-photo js-photo">
                            <img src=<%= require("./img/zwyciezcy.png") %> alt="" width="550" height="570">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
        
</body>
</html>