<% include ./src/includes/head %>
    
    <div class="o-container u-apla u-apla--blue">
    
        <div class="c-top">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <nav class="c-nav js-nav">
                            <ul id="navContent">
                                <li>
                                    <a href="index.html">Start</a>
                                </li>
                                
                                <li>
                                    <a href="informacje.html">Informacje</a>
                                </li>
                                
                                <li>
                                    <a href="zglos-sie.html">Zgłoś się</a>
                                </li>
                                
                                <li class="is-active">
                                    <a href="zwyciezcy.html">Zwycięzcy</a>
                                </li>
                                
                                <li>
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="c-hamburger">
                            <div class="c-hamburger__icon js-hamburger"></div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item"></div>
                </div>

            </div>
        </div>


        <div class="c-winners">
            <div class="o-wrap">
                <div class="o-cols">
                    
                    <div class="o-cols__item">
                        <div class="o-content">
                            <article class="o-article">
                            
                            <p></p>
                            
                            </article>
                        </div>
                    </div>
                        
                    <div class="o-cols__item u-photo">
                        <div class="o-photo js-photo">
                            <img src=<%= require("./img/zwyciezcy.png") %> alt="" width="550" height="570">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
        
</body>
</html>